.navbar {
    background-color: #17ded4;
    color: #0c0b0b;
    height: 60px; /* Adjust the height as desired */
  }
  
  .nav-links {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
  }
  
  .nav-links li {
    margin-left: 10px;
  }
  
  .nav-links li a {
    color: #090808;
    text-decoration: none;
    font-size: 10px; /* Adjust the font size as desired */
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }