/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:rgb(39, 62, 5) ;
  background-color:jungle green;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
.header {
  text-align: center;
  margin-bottom: 25px;
}

.header h1 {
  font-size: 24px;
  color: #de2828;
}

/* Quote styles */
.quote {
  background-color: #d82222;
  padding: 50px;
  margin-bottom: 10px;
}

.quote p {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

.quote .author {
  font-size: 16px;
  color: #b61717;
  margin-top: 10px;
}

/* Submission form styles */
.form {
  margin-bottom: 20px;
}

.form textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #32c81e;
  resize: vertical;
}

.form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.form button:hover {
  background-color: #d80f0f;
}

/* Error message styles */
.error {
  color: red;
  margin-bottom: 10px;
}
.box{
  width: 20%;
  background-color: #2d329e;

}
.con{
  background-color: rgb(214, 166, 22);
  width: 20%;
  margin-left: 400px;
  margin-top: -7500px;
}
.bet{
  margin-left: 800px;
  margin-top: -150px;
}
.hed{
  margin-left: 400px;

}